= form_for [@production], url: productions_searches_path do |f|
  .index 
    .form
      .form__info 
        .form__info__date
          = f.date_field :date, required: " "
        .form__info__post
          = f.submit '更新', class: "form__info__post__btn"
      .form__table
        %table.table
          %thead
            %tr
              %th 時間
              %th 実数
              %th 累計
              %th 箱
              %th _
              %th 数
            %tr
              %td 7:00~8:00
              %td 
              %td 
              %td
              %td
              %td
            %tr
              %td 8:00~9:00
              %td 
              %td 
              %td
              %td
              %td
            %tr
              %td 9:00~10:00
              %td 
              %td 
              %td
              %td
              %td
            %tr
              %td 10:00~11:00
              %td 
              %td 
              %td
              %td
              %td
            %tr
              %td 11:00~12:00
              %td 
              %td 
              %td
              %td
              %td
            %tr
              %td 12:00~13:00
              %td 
              %td 
              %td
              %td
              %td
            %tr
              %td 13:00~14:00
              %td 
              %td 
              %td
              %td
              %td
            %tr
              %td 14:00~15:00
              %td 
              %td 
              %td
              %td
              %td
            %tr
              %td 15:00~16:00
              %td 
              %td 
              %td
              %td
              %td
            %tr
              %td 16:00~17:00
              %td 
              %td 
              %td
              %td
              %td
            %tr
              %td 17:00~18:00
              %td 
              %td 
              %td
              %td
              %td
            %tr
              %td 18:00~19:00
              %td 
              %td 
              %td
              %td
              %td
            %tr
              %td 19:00~20:00
              %td 
              %td 
              %td
              %td
              %td
            %tr
              %td 20:00~21:00
              %td 
              %td 
              %td
              %td
              %td
            %tr
              %td 21:00~22:00
              %td 
              %td 
              %td
              %td
              %td
            %tr
              %td 22:00~23:00
              %td 
              %td 
              %td
              %td
              %td
            %tr
              %td 23:00~00:00
              %td 
              %td 
              %td
              %td
              %td
            %tr
              %td 00:00~01:00
              %td 
              %td 
              %td
              %td
              %td
            %tr
              %td 01:00~02:00
              %td 
              %td 
              %td
              %td
              %td
            %tr
              %td 02:00~03:00
              %td 
              %td 
              %td
              %td
              %td
            %tr
              %td 03:00~04:00
              %td 
              %td 
              %td
              %td
              %td
            %tr
              %td 04:00~05:00
              %td 
              %td 
              %td
              %td
              %td
            %tr
              %td 05:00~06:00
              %td 
              %td 
              %td
              %td
              %td
            %tr
              %td 06:00~07:00
              %td 
              %td 
              %td
              %td
              %td
    .main 
      .main__product
        .main__product__line
          .main__product__line__name.main__product__line__name__select__box
            = f.select :line_id, [["8F-16", 1],["8F-9", 2],["8-68", 3],["8-5", 4],["UPI-2C", 5],["8SF-7C", 6],["8SFC-18", 7],["UPI-4C", 8],["8S-8", 9]], class: "main__product__line__name__select"
          .main__product__info__perbox
            入れ目
        .main__product__info
          .main__product__info__code
            = f.number_field :product_id, class: "main__product__info__code__num",placeholder: "製品コード", required: " "
          .main__product__info__name
            製品名
      .main__graph
        .main__graph__image
          %canvas#myChart{height: "430", width: "800"}
          :javascript
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                labels: gon.date,
                datasets: [{
                  label: "累計生産数",
                  data: gon.day_cumulative_productions,
                  type: 'line',
                  yAxisID: "y-axis-2",
                  fill: false,
                  borderColor: 'rgba(52, 147, 255, 1.0)',
                },{
                  label: "予想",
                  data: gon.productions_predict,
                  type: 'line',
                  fill: false,
                  yAxisID: "y-axis-2",
                  borderColor: 'rgba(125, 215, 135, 1.0)',
                },{
                  label: "生産数",
                  data: gon.day_productions,
                  backgroundColor: 'rgba(255, 99, 132, 1.0)',
                  borderColor: 'rgba(255, 50, 132, 1.0)',
                  fill: false,
                  categoryPercentage: 1,
                  yAxisID: "y-axis-1",
                }]
              },
              options: {
                title:  {
                  display: true,
                  text: "今日の生産数"
                },
                scales: {
                  xAxes:[{
                    categoryPercentage: 1,
                  }],
                  yAxes: [{
                    id: "y-axis-1",
                    type: "linear",
                    position: "left",
                    scaleLabel: {
                      display: true,
                      labelString: "一時間当たりの生産数",
                      fontSize: 14,
                      fontColor: 'rgba(255, 99, 132, 1.0)'
                    },
                    ticks: {
                      beginAtZero:true,
                      stepSize: gon.per_case
                    }
                  },{
                    id: "y-axis-2",
                    type: "linear",
                    position: "right",
                    scaleLabel: {
                      display: true,
                      labelString: "累計生産数",
                      fontSize: 14,
                      fontColor: 'rgba(52, 147, 255, 1.0)'
                    },
                    ticks: {
                      beginAtZero:true
                    }
                  }]
                }
              }
            });